<!doctype html>
<html ng-app='_app'>
<head>
    <meta charset="utf-8">
    <title>ATL</title>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js'></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body ng-controller='TorrentsController'>
    <script>
        var _app = angular.module('_app', []);
        
        _app.controller('TorrentsController', ['$scope', '$http', function ($scope, $http) {
        
            $scope.sortField = 'downloads';
            $scope.sortReverse = true;
            $scope.torrentsPerDay = 15;
            $scope.filterString = '';
        
            $scope.pullTorrents = function () {
                request = ['pull_torrents?num_days=', $scope.daysPerRequest, '&offset=', $scope.currentOffset].join('');
                $http.get(request).success(function (data) {
                    $scope.torrents = $scope.torrents.concat(data);
                    $scope.currentOffset += 1;
                });
            };
            
            $scope.daysPerRequest = 2;
            $scope.currentOffset = 0;
            
            $scope.torrents = [];
            $scope.pullTorrents();
        }]);
    </script>

    <style>
        * { font-family: Calibri; font-size: 10pt; }
        body { padding-top: 70px; padding-bottom: 15px; }
        a { color: #303030; }
        a:visited { color: silver; }
    </style>

    <div class='navbar navbar-default navbar-fixed-top'>
        <div class='container-fluid'>
            <div class="navbar-header"><a class="navbar-brand" href="/">Refresh</a></div>
            <form class='navbar-form navbar-left'>
                <div class='input-group'>
                    <div class='input-group-addon'>Torrents per day</div>
                    <input type='text' class='form-control' ng-model='torrentsPerDay' value='{{torrentsPerDay}}' />
                </div>
                <div class='input-group'>
                    <div class='input-group-addon'>Filter</div>
                    <input type='text' class='form-control' ng-model='filterString' value='{{filterString}}' />
                </div>
            </form>
            <p class='navbar-text'>Order by:</p>
            <div class="btn-group">
                <button type="button" class="btn btn-default navbar-btn" ng-class='{"active":sortField === "title"}' ng-click='sortField = "title"'>Title</button>
                <button type="button" class="btn btn-default navbar-btn" ng-class='{"active":sortField === "seeders"}' ng-click='sortField = "seeders"'>Seeders</button>
                <button type="button" class="btn btn-default navbar-btn" ng-class='{"active":sortField === "leechers"}' ng-click='sortField = "leechers"'>Leechers</button>
                <button type="button" class="btn btn-default navbar-btn" ng-class='{"active":sortField === "downloads"}' ng-click='sortField = "downloads"'>Downloads</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default navbar-btn" ng-class='{"active":sortReverse === false}' ng-click='sortReverse = false'>Asc</button>
                <button type="button" class="btn btn-default navbar-btn" ng-class='{"active":sortReverse === true}' ng-click='sortReverse = true'>Desc</button>
            </div>            
        </div>
    </div>

    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-6' ng-repeat='day in torrents'>
            <div class="panel panel-default">
            <div class="panel-heading">Day &minus;{{$index}}</div>
                <table class='table table-condensed table-hover'>
                    <tbody>
                        <thead>
                            <tr>
                                <th>File</th>
                                <th>S</th>
                                <th>L</th>
                                <th>D</th>
                            </tr>
                        </thead>
                        <tr ng-repeat='torrent in day | orderBy:sortField:sortReverse | filter:filterString | limitTo:torrentsPerDay'>
                            <td><a href='{{torrent.link}}'>{{torrent.title}}</a></td>
                            <td>{{(torrent.seeders / 1000).toFixed(1)}}</td>
                            <td>{{(torrent.leechers / 1000).toFixed(1)}}</td>
                            <td>{{(torrent.downloads / 1000).toFixed(1)}}</td>
                        </tr>
                        <tr>
                            <td colspan='4' ng-show='day.length > torrentsPerDay'><i>Showing {{torrentsPerDay}} out of {{day.length}} torrents.</i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
            <div class='col-md-12'>
                <button class='btn btn-primary btn-lg btn-block' ng-click='pullTorrents()'>More...</button>
            </div>
        </div>
    </div>
</body>
</html>