<!doctype html>
<html lang='en' ng-app='_app'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js'></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <title>ATL</title>
</head>
<body ng-controller='_controller'>
    <script>
        var _app = angular.module('_app', []);

        _app.config(function ($httpProvider) {
            $httpProvider.defaults.useXDomain = true;
            delete $httpProvider.defaults.headers.common['X-Requested-With'];
        });
        
        _app.controller('_controller', ['$scope', '$http', function ($scope, $http) {
            $scope.strings = {
                groupfilterStringHelp: 'Space-separated terms to match against group title.',
                groupDisplayLimitHelp: 'Maximum number of groups to display in a single day.',
            };
            
            $scope.settings = {
                groupFilterString: '',
                groupLimit: 10,

                sortField: 'downloads',
                sortReverse: true,

                displayNumOfSeeders: true,
                displayNumOfLeechers: false,
                displayNumOfDownloads: true,
            };
            
            $scope.daysPerRequest = 2;
            $scope.currentOffset = 0;
            
            $scope.days = [];
            
            $scope.filterGroupTitle = function (group) {
                var tokens = $scope.settings.groupFilterString;
                tokens = tokens.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
                tokens = tokens.split(' ');
                var regExp = [];
                for (var i = 0; i < tokens.length; i += 1) {
                    if (tokens[i]) regExp.push('(' + tokens[i] + ')');
                }
                if (regExp.length > 0) {
                    regExp = '.*' + regExp.join('.*') + '.*';
                    regExp = RegExp(regExp, 'i');
                    return regExp.test(group.title);
                } else {
                    return true;
                }
            };
        
            ($scope.pullTorrents = function () {
                if (window.location.host == '') request = 'torrents.debug';
                else request = ['torrents?num_days=', $scope.daysPerRequest, '&offset=', $scope.currentOffset].join('');
                $http.get(request)
                    .success(function (data, status, headers, config) {
                        $scope.days = $scope.days.concat(data);
                        $scope.currentOffset += 1;
                        //console.log($scope.days);
                    })
                    .error(function (data, status, headers, config) {
                        console.log('Request failed.');
                        console.log(arguments);
                    });
            })();
            
        }]);
    </script>

    <hr>

    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-6' ng-repeat='day in days' ng-show='filteredDay.length > 0'>
                <div class='panel panel-default'>
                    <div class='panel-heading'>
                        Day &minus;{{$index}} <small class='pull-right'>Displaying {{filteredDay.length}} of {{day.length}} groups.</small>
                    </div>
                    <table class='table table-condensed'>
                        <thead>
                            <tr>
                                <th width='10%'>&nbsp;</th>
                                <th>Group title</th>
                                <th width='10%' class='text-right' ng-show='settings.displayNumOfSeeders'>&Sigma; S</th>
                                <th width='10%' class='text-right' ng-show='settings.displayNumOfLeechers'>&Sigma; L</th>
                                <th width='10%' class='text-right' ng-show='settings.displayNumOfDownloads'>&Sigma; D</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr
                                    ng-repeat-start='group in filteredDay = (day | filter:filterGroupTitle | orderBy:settings.sortField:settings.sortReverse | limitTo:settings.groupLimit)'
                                    ng-init='filteredTorrents = (group.torrents | orderBy:settings.sortField:settings.sortReverse)'
                                >
                                    <td>
                                        <div class='btn-group'>
                                            <a title='{{ {true: "Hide", false: "Show"}[!!group.expanded] }} all torrents of the group' ng-click='group.expanded = !group.expanded' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-{{ {true: "minus-sign", false: "plus-sign"}[!!group.expanded] }}'></span></a>
                                            <a title='Download first torrent of the group' class='btn btn-default btn-xs' href='{{filteredTorrents[0].link}}'><span class='glyphicon glyphicon-download'></span></a>
                                            <!--<a ng-disabled='true' title='Send first torrent of the group to &mu;Torrent' class='btn btn-default btn-xs'><strong>&mu;T</strong></a>-->
                                        </div>
                                    </td>
                                    <td style='cursor: pointer;' ng-click='group.expanded = !group.expanded'>{{group.title}}</td>
                                    <td class='text-right' ng-show='settings.displayNumOfSeeders'>{{group.seeders | number}}</td>
                                    <td class='text-right' ng-show='settings.displayNumOfLeechers'>{{group.leechers | number}}</td>
                                    <td class='text-right' ng-show='settings.displayNumOfDownloads'>{{group.downloads | number}}</td>
                                </tr>
                                <tr ng-repeat-end ng-show='group.expanded' ng-repeat='torrent in filteredTorrents'>
                                    <td>
                                        <div class='btn-group'>
                                            <a title='Download this torrent' class='btn btn-default btn-xs' href='{{torrent.link}}'><span class='glyphicon glyphicon-download'></span></a>
                                            <!--<a ng-disabled='true' title='Send this torrent to &mu;Torrent' class='btn btn-default btn-xs'><strong>&mu;T</strong></a>-->
                                        </div>
                                    </td>
                                    <td>{{torrent.title}}</td>
                                    <td class='text-right' ng-show='settings.displayNumOfSeeders'>{{torrent.seeders | number}}</td>
                                    <td class='text-right' ng-show='settings.displayNumOfLeechers'>{{torrent.leechers | number}}</td>
                                    <td class='text-right' ng-show='settings.displayNumOfDownloads'>{{torrent.downloads | number}}</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>    
        </div>         
    </div>             

    <div class='container-fluid'>
        <button type='button' class='btn btn-primary btn-block btn-lg' ng-click='pullTorrents()'>More...</button>
    </div>

    <hr>

    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-4'>
                <form class='form-horizontal' role='form'>
                    <div class='form-group'>
                        <label class='control-label col-sm-3'>Group filter</label>
                        <div class='col-sm-3'><input ng-model='settings.groupFilterString' type='text' class='form-control'></div>
                        <div class='col-sm-6'><p class='help-block'>{{strings.groupfilterStringHelp}}</p></div>
                    </div>
                    <div class='form-group'>
                        <label class='control-label col-sm-3'>Order groups by</label>
                        <div class='col-sm-3'>
                            <select class='form-control' ng-model='settings.sortField'>
                                <option value='title'>Title</option>
                                <option value='seeders'>Seeders</option>
                                <option value='leechers'>Leechers</option>
                                <option value='downloads'>Downloads</option>
                            </select>
                        </div>
                        <div class='col-sm-6'>
                            <div class='checkbox'><label><input type='checkbox' ng-model='settings.sortReverse'>Descending</label></div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='control-label col-sm-3'>Group limit</label>
                        <div class='col-sm-3'><input ng-model='settings.groupLimit' type='text' class='form-control'></div>
                        <div class='col-sm-6'><p class='help-block'>{{strings.groupDisplayLimitHelp}}</p></div>
                    </div>
                </form>
            </div>
            <div class='col-md-4'>
                <small>Placeholder.</small>
            </div>
            <div class='col-md-4'>
                <small>Placeholder.</small>
            </div>
        </div>
    </div>
    
</body>
</html>